.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius:1.5rem ;

}

.footer .link{
    color:white;
}
.footer-header{
    font-size: large;
    font-weight: bold;

}

.footer ul{
    padding-inline-start: 0px;
}





.list-item-inline{
    display: inline;
    padding-right: 1rem;
    padding-left: 1rem ;
}
